Unable to extract values from .yang file available inside "identity" for xml file generation.

I am trying to generate xml output using **pyang -f xsd --xsd-groups --xsd-no-any-augments filename.yang**

**Input Yang file:**
module toaster {

  yang-version 1;

  namespace
    "http://netconfcentral.org/ns/toaster";

  prefix toast;

  organization "Netconf Central";

  contact
    "Andy Bierman <andy@netconfcentral.org>";

  description
    "YANG version of the TOASTER-MIB.

   Copyright (c) 2009 Andy Bierman and the persons identified as
   authors of the code.  All rights reserved.

   Redistribution and use in source and binary forms, with or
   without modification, is permitted pursuant to, and subject
   to the license terms contained in, the BSD 3-Clause License
   http://opensource.org/licenses/BSD-3-Clause";

  revision "2009-11-20" {
    description
      "Toaster module in progress.";
  }


  identity toast-type {
    description
      "Base for all bread types supported by the toaster.
         New bread types not listed here nay be added in the 
         future.";
  }

  identity white-bread {
    base toast:toast-type;
    description "White bread.";
  }

  identity wheat-bread {
    base toast-type;
    description "Wheat bread.";
  }

  identity wonder-bread {
    base toast-type;
    description "Wonder bread.";
  }

  identity frozen-waffle {
    base toast-type;
    description "Frozen waffle.";
  }

  identity frozen-bagel {
    base toast-type;
    description "Frozen bagel.";
  }

  identity hash-brown {
    base toast-type;
    description "Hash browned potatos.";
  }

  typedef DisplayString {
    type string {
      length "0 .. 255";
    }
    description
      "YANG version of the SMIv2 DisplayString TEXTUAL-CONVENTION.";
    reference
      "RFC 2579, section 2.";

  }

  container toaster {
    presence
      "Indicates the toaster service is available";
    description
      "Top-level container for all toaster database objects.";
    leaf toasterManufacturer {
      type DisplayString;
      config false;
      mandatory true;
      description
        "The name of the toaster's manufacturer. For instance, 
              Microsoft Toaster.";
    }

    leaf toasterModelNumber {
      type DisplayString;
      config false;
      mandatory true;
      description
        "The name of the toaster's model. For instance,
             Radiant Automatic.";
    }

    leaf toasterStatus {
      type enumeration {
        enum "up" {
          value 1;
          description
            "The toaster knob position is up.
                    No toast is being made now.";
        }
        enum "down" {
          value 2;
          description
            "The toaster knob position is down.
                    Toast is being made now.";
        }
      }
      config false;
      mandatory true;
      description
        "This variable indicates the current state of 
             the toaster.";
    }
  }  // container toaster

  rpc make-toast {
    description
      "Make some toast.
         The toastDone notification will be sent when 
         the toast is finished.
         An 'in-use' error will be returned if toast
         is already being made.
         A 'resource-denied' error will be returned 
         if the toaster service is disabled.";
    input {
      leaf toasterDoneness {
        type uint32 {
          range "1 .. 10";
        }
        default '5';
        description
          "This variable controls how well-done is the 
                 ensuing toast. It should be on a scale of 1 to 10.
                 Toast made at 10 generally is considered unfit 
                 for human consumption; toast made at 1 is warmed 
                 lightly.";
      }

      leaf toasterToastType {
        type identityref {
          base toast:toast-type;
        }
        default 'wheat-bread';
        description
          "This variable informs the toaster of the type of 
                 material that is being toasted. The toaster 
                 uses this information, combined with 
                 toasterDoneness, to compute for how 
                 long the material must be toasted to achieve 
                 the required doneness.";
      }
    }
  }  // rpc make-toast

  rpc cancel-toast {
    description
      "Stop making toast, if any is being made.
         A 'resource-denied' error will be returned 
         if the toaster service is disabled.";
  }  // rpc cancel-toast

  notification toastDone {
    description
      "Indicates that the toast in progress has completed.";
    leaf toastStatus {
      type enumeration {
        enum "done" {
          value 0;
          description "The toast is done.";
        }
        enum "cancelled" {
          value 1;
          description
            "The toast was cancelled.";
        }
        enum "error" {
          value 2;
          description
            "The toaster service was disabled or
                   the toaster is broken.";
        }
      }
      description
        "Indicates the final toast status";
    }
  }  // notification toastDone
}  // module toaster


XML file is generating but does not have all values.

**Output XML:**
*******************************
<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:yin="urn:ietf:params:xml:schema:yang:yin:1"
           xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
           xmlns:ncn="urn:ietf:params:xml:ns:netconf:notification:1.0"
           targetNamespace="http://netconfcentral.org/ns/toaster"
           xmlns="http://netconfcentral.org/ns/toaster"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="2009-11-20"
           xml:lang="en"
          xmlns:toast="http://netconfcentral.org/ns/toaster">

  <xs:import
     namespace="urn:ietf:params:xml:ns:netconf:base:1.0"
     schemaLocation="http://www.iana.org/assignments/xml-registry/schema/netconf.xsd"/>  <xs:import
     namespace="urn:ietf:params:xml:ns:netconf:notification:1.0"
     schemaLocation="http://www.iana.org/assignments/xml-registry/schema/notification.xsd"/>
  <xs:annotation>
    <xs:documentation>
      This schema was generated from the YANG module toaster
      by pyang version 1.2.

      The schema describes an instance document consisting
      of the entire configuration data store, operational
      data, rpc operations, and notifications.
      This schema can thus NOT be used as-is to
      validate NETCONF PDUs.
    </xs:documentation>
  </xs:annotation>

  <xs:annotation>
    <xs:documentation>
      YANG version of the TOASTER-MIB.

      Copyright (c) 2009 Andy Bierman and the persons identified as
      authors of the code.  All rights reserved.

      Redistribution and use in source and binary forms, with or
      without modification, is permitted pursuant to, and subject
      to the license terms contained in, the BSD 3-Clause License
      http://opensource.org/licenses/BSD-3-Clause
    </xs:documentation>
  </xs:annotation>

  <!-- YANG typedefs -->
  <xs:simpleType name="DisplayString">
    <xs:annotation>
      <xs:documentation>
        YANG version of the SMIv2 DisplayString TEXTUAL-CONVENTION.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="toaster">
    <xs:annotation>
      <xs:documentation>
        Top-level container for all toaster database objects.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="toasterManufacturer"  type="DisplayString">
          <xs:annotation>
            <xs:documentation>
              The name of the toaster's manufacturer. For instance, 
                   Microsoft Toaster.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="toasterModelNumber"  type="DisplayString">
          <xs:annotation>
            <xs:documentation>
              The name of the toaster's model. For instance,
                  Radiant Automatic.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="toasterStatus">
          <xs:annotation>
            <xs:documentation>
              This variable indicates the current state of 
                  the toaster.
            </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="up"/>
              <xs:enumeration value="down"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="make-toast" substitutionGroup="nc:rpcOperation">
    <xs:annotation>
      <xs:documentation>
        Make some toast.
          The toastDone notification will be sent when 
          the toast is finished.
          An 'in-use' error will be returned if toast
          is already being made.
          A 'resource-denied' error will be returned 
          if the toaster service is disabled.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="nc:rpcOperationType">
          <xs:sequence>
            <xs:element name="toasterDoneness" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This variable controls how well-done is the 
                        ensuing toast. It should be on a scale of 1 to 10.
                        Toast made at 10 generally is considered unfit 
                        for human consumption; toast made at 1 is warmed 
                        lightly.
                </xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:unsignedInt">
                  <xs:minInclusive value="1"/>
                  <xs:maxInclusive value="10"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="toasterToastType" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  This variable informs the toaster of the type of 
                        material that is being toasted. The toaster 
                        uses this information, combined with 
                        toasterDoneness, to compute for how 
                        long the material must be toasted to achieve 
                        the required doneness.
                </xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:QName">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="cancel-toast" substitutionGroup="nc:rpcOperation">
    <xs:annotation>
      <xs:documentation>
        Stop making toast, if any is being made.
          A 'resource-denied' error will be returned 
          if the toaster service is disabled.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="nc:rpcOperationType">
          <xs:sequence>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="toastDone" substitutionGroup="ncn:notificationContent">
    <xs:annotation>
      <xs:documentation>
        Indicates that the toast in progress has completed.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ncn:NotificationContentType">
          <xs:sequence>
            <xs:element name="toastStatus" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  Indicates the final toast status
                </xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="done"/>
                  <xs:enumeration value="cancelled"/>
                  <xs:enumeration value="error"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

</xs:schema>
